<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
  </head>
  <body>
    <h1>Delete User</h1>
    <form method="post" action="/user/<%= user.id %>?_method=delete">
      <input placeholder="enter your email" name="email" />
      <input placeholder="enter your password" name="password" />
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
